@font-face {
    font-family: Economica;
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(/static/media/Economica-Regular-OTF.e5e4d359.otf)
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Economica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

a {
    color: #b25986;
    text-decoration: none
}

.App {
    /*!*background-color: dimgrey;*!*/
}

.App-logo {
    -webkit-animation: App-logo-spin 20s linear infinite;
    animation: App-logo-spin 20s linear infinite;
    height: 40vmin
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fff
}

.App-link {
    color: #61dafb
}

@-webkit-keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.ImageElem {
    max-height: 64px;
    max-width: 64px;
    vertical-align: middle;
    text-align: center;
    margin: auto
}

.EntrySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.EntryCard {
    text-align: center;
    width: 75px;
    height: 111px;
    padding: 2px;
    margin: 5px 2px;
    background-color: #3e4357;
    display: flex;
    flex-direction: column
}

.EntryActionArea {
    width: 100%;
    height: 100%
}
